{{ $baseurl := .Site.BaseURL }}
<article class="post {{ .Section }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{ .Params.Summary }} <a class="read-more" href="{{.RelPermalink}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        <p>
            {{if .Params.author }}
                 {{.Params.author}}
            {{end}}

            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .Date.Format "2 Jan 2006" }}
            </time>
        </p>
    </footer>
</article>
