<!-- Start of post author -->
{{ if not .Params.noauthor }}
{{$author := index .Site.Data.authors (or .Params.author .Site.Params.author)}}
{{$authorname := or $author.name .Site.Params.author }}
{{$authorbio := or $author.bio .Site.Params.bio }}
{{$authorlocation := or $author.location .Site.Params.author_location }}
{{$authorwebsite := or $author.website .Site.Params.author_website }}
{{$authorthumbnail := or $author.thumbnail .Site.Params.author_thumbnail }}
<div class="post-author">
    <h6>Written By</h6>
    <hr>
    <img src="{{ $authorthumbnail }}" alt="{{ $authorname }} image" width="90" height="90">
    <h5>{{$authorname}}</h5>
    {{if $authorbio}}
    <span class="post-author__text">{{$authorbio}}</span>
    {{else}}
    <span class="post-author__text">Read <a href="{{.Site.BaseURL}}">more posts</a> by this author.</span>
    {{end}}
</div>
{{end}}
<!-- End of post author -->